{:paths ["src/main" "resources" "target"]

 :deps
 {
  org.clojure/clojure {:mvn/version "1.11.1"}
  com.fulcrologic/fulcro-rad {:mvn/version "1.1.9"}
  mount/mount {:mvn/version "0.1.16"}
  com.taoensso/timbre {:mvn/version "5.2.1"}}

 :aliases {:dev
           {:extra-paths ["src/dev" "resources"]}

           :datomic
           {:extra-paths ["src/datomic"]
            :extra-deps {
                         com.fulcrologic/fulcro-rad-datomic {:mvn/version "1.0.9"}
                         com.datomic/datomic-free {:mvn/version "0.9.5697"
                                                   :exclusions [org.slf4j/slf4j-nop]}}}}
 }


